@using Management_Core.Models
@model List<Employee>
@{
    ViewData["Title"] = "sectorDetails";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}
<br/>
<h2>@ViewBag.secname Department</h2>
<br/>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Surname</th>
        <th>City</th>
 

    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.EmployeeID</td>
            <td>@x.Name</td>
            <td>@x.Surname</td>
            <td>@x.City</td>
        </tr>
    }
</table>
<a href="/TheEmployee/newEmployee" class="btn btn-primary">Add New Employee</a>


